@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../font/Pretendard-Regular.woff2) format('woff2'), url(../font/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../font/Pretendard-Bold.woff2) format('woff2'), url(../font/Pretendard-Bold.woff) format('woff');

    
}
body {
    font-family: 'Pretendard', sans-serif;
    /*반드시 font.css에서 선언한 이름으로 불러야 함.
      snas-serif는 프리텐다드가 없다면 대체용으로 쓰일 고딕 서체*/
      font-size: 17px;
      font-weight: 700;
      line-height: 1.2;
      color: #fff;
      word-break: keep-all;/*단어 단위로 줄바꿈*/
}
/*태그 스타일 초기화*/
h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}
strong {
    font-weight: inherit;
}
em, address{
    font-style: normal; /*글자 기울임 취소*/
}
a {
    color: inherit;
    text-decoration: none; /*밑줄삭제*/
}
button {
    cursor: pointer;/*마우스 오버하면 마우스포인터 손바닥 모양으로 변경*/
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
 /*버튼 태그는 글자 스타일을 상속 받지 않아서, 직접 지정해줘야함.*/
    border: none;/*테두리 삭제*/
    background-color: transparent; /*배경색 투명(background-none도 가능*/
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*여백과 높이 같이주면 늘어나는 현상 방지.*/
}
li {
    list-style: none;/*앞에 생기는 동그라미 삭제*/
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
#wrap {
    min-width: 1300px;
    position: relative;
}
.visual {
    background: url(../imgs/main_bg.jpg) no-repeat center center / cover;
    height: 900px;
}
header {
    position: absolute;/*상단에 해더를 고정해주는 역할.*/
    top: 0;
    left: 0;
    width: 100%;/*wrap을 기준으로 100% 그래야 가운데 정렬 됨.*/
    height: 100px;
    border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}
header .gnb ul {
    display: flex;
    justify-content: center;
}
header .gnb ul a {
    padding: 0 24.5px;
    line-height: 100px;
    display: block;
    font-size: 20px;
}
.container .visual h1 {
    font-size: 80px;
    line-height: 1.3;
    font-weight: 400;
    text-align: right;
    padding: 322px 0 291px 725px;
}
.container .product .notice h1,
.container .product .cnt h1 {
    font-size: 20px;
    color: #657E3C;
    margin:174px 0 21px 0;
}
.container .product .notice .sub_tit,
.container .product .cnt p{
    font-size: 50px;
    color: #1d1d1d;
    margin: 0 0 94px 0;
}
.container .product .notice ul {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}
.container .product .notice ul li {
    width: calc(33.33% - 16px);
    /*한줄에 나와야하는 갯수 (3개) 100/3 33.33%
    여백의 총합(2개) 24+24 = 48 / 3 은 16px*/
}
.container .product .notice ul li .photo {
    font-size: 0;
    letter-spacing: 0; /*이미지 밑에 생기는 여백 삭제*/
}
.container .product .notice ul li a {
    display: block;
    position: relative; /*h2의 기준이 되어주기 위한 속성.*/
}
.container .product .notice ul li a h2{
    position: absolute;
    bottom: 80px;
    left: 40px;
    font-size: 30px;
    width: calc(100% - 80px);
}
.container .product .notice ul li a p{
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: calc(100% - 80px);
    /*긴 제목 한줄로 제안*/
    white-space: nowrap; /*무조건 한줄로 지정*/
    overflow: hidden; /*범위 넘어가는 글자 자름*/
    text-overflow: ellipsis;/*넘어가는 글자 점으로 표현*/
}
.container .product .cnt {
    position: relative;
}
.container .product .cnt ul {
    display: flex;
    justify-content: space-between;
}
.container .product .cnt ul li {
    width: calc(33.3% - 16px);
}
.container .product .cnt .more {
    color: #657E3C;
    border-radius: 50px;
    border: #657E3C 1px solid;
    padding: 10px 26px;
    display: inline;
    position: absolute;
    top: 43px;
    right: 0;
}
body {
    margin: 0 0 500px 0;
}