@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #555555;
    line-height: 1.2;
    word-break: keep-all;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 1290px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6 {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}
header {
    background-image: url(../images/header_br.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1028px;
}
header .menu {
    display: flex;
    justify-content: space-between;
}
header .gnb ul {
    display: flex;
    margin: 43px 290px 0 0;
}
header .rogo img {
    padding:22px 0 0 330px ;
}
header .gnb li a {
    color: #fff;
    padding: 43px 44px 43px 44px ;
    font-size: 20px;
    font-weight: 700;
}
header .visual {
    color: #fff;
    width: 1260px;
    margin: 0 auto;
}
header .visual h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.03em;
    margin: 290px 0 26px 0;
}
header .visual p {
    margin: 0 0 41px 0;
}
header .visual .more {
    background-color:#ff652e ;
    border-radius: 28px;
    padding: 18px 34px 18px 34px;
    display: block;
    width: 190px;
}
.cnt .visual .ex h2 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.03em;
    color: #767676;
    margin: 166px 0 20px 0;
}
.cnt .visual .ex .tit {
    color: #ff652e;
    font-size: 50px;
    margin: 0 0 50px 0;
    letter-spacing: -0.03em;
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;
}
.cnt .visual .info ul {
    margin: 78px 0 0 0;
    display: flex;
    gap: 24px;
}

.cnt .visual .info ul li {
    height: 369px;
    width: 297px;
    border-radius: 20px;
    background: no-repeat center center / cover;
    color: #fff;
}
.cnt .visual .info ul li.news_1 {
    background-image: url(../images/hart_inf1.png);
}
.cnt .visual .info ul li.news_2 {
    background-image: url(../images/hart_inf2.png);
}
.cnt .visual .info ul li.news_3 {
    background-image: url(../images/hart_inf3.png);
}
.cnt .visual .info ul li.news_4 {
    background-image: url(../images/hart_inf4.png);
}
.cnt .visual .info ul li h3 {

    text-align: right;
}
.cnt .visual .info ul li.news_1 h3 {
    padding: 16px 15px 219px 105px;
}
.cnt .visual .info ul li.news_2 h3 {
    padding: 16px 8px 195px 103px;
}
.cnt .visual .info ul li.news_3 h3 {
    padding: 16px 14px 219px 65px;
}
.cnt .visual .info ul li.news_4 h3 {
    padding: 16px 8px 195px 95px;
}
.cnt .visual .info ul li .suv_tit {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.2;
    letter-spacing: 0;
    padding: 0 0 24px 22px ;
}
.cnt .visual .info ul li.news_1 .suv_tit {
    padding: 0 0 14px 22px;
}
.cnt .visual .info ul li .suv_tit2 {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.03em;
    padding: 0 20px 0 23px;
    word-break: break-all;
}
.cnt .visual .info ul li.news_3 .suv_tit2 {
    padding: 0 34px 0 23px;
}
.cnt .visual .info ul li.news_4 .suv_tit2 {
    padding: 0 36px 0 23px;
}
.cnt .visual .story h2 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.03em;
    color: #767676;
    margin: 180px 0 24px 0;
}
.cnt .visual .story .tit {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.03em;
    margin: 0 0 46px 0;
    color: #1d1d1d;
}
.cnt .visual .story .more {
    display: flex;
    gap: 583px;
}

.cnt .visual .story ul a {
    background-color: #ff652e;
    border-radius: 29px;
    color: #fff;
    box-sizing: border-box;
    padding: 20px 30px;
}

body {
    margin: 0 0 400px 0;
}
